

.head{
    border:2px cornflowerblue;
    height:140px;
    background-image: url("Math/pxfuel\ \(17\).jpg");
    background-size: 300px;
    margin-bottom: 10px;
    


}
.H{
    
    padding-top: 25px;
}
.Menu{
    border: 2px solid black;
    display:inline-block;
    border-left: 40px solid rgb(109, 97, 97);
    background-color: aliceblue;
    height: 40px;
   width: 290px;
   float: right;
margin-right: 20px;
padding-left: 40px;


   
   
  
}




.parent{
    border: 2px solid black;
    display: flex;
    flex-direction: right;

}
.child-1{
    border:2px solid black;
    height: 1000px;
    width:300px;
    background-image: url("Math/pxfuel\ \(17\).jpg");
    background-size:300px;
}
.content{
    border:none;
    background-color: rgba(58, 51, 51, 0.822);
    height: 40px;
}
.button {
    background-color: #4CAF50;
    border: 1px solid black;
    width: 200px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button:hover{
    border:1px solid green;
    background-color: rgb(46, 71, 151);
    opacity: 0.9;

}


.child-2{  
    background-color: #f7ebeb;
    border: none;
    height: 1000px;
    width: 1020px;

}

  
/* Style the search box inside the navigation bar */
.search-box input[type="text"] {

    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    border-bottom-right-radius: 10px;
    color: blue;
    margin-top: 50px;
    margin-left: 50px;
    font-size: 24px;
  }
  /* Add a black background color to the top navigation bar */
.search-box {
    
    padding: 20px;
    border: 2px solid rgba(0, 0, 0, 0.308);
    border-radius: 10px;
    border-bottom-right-radius: 10px;
    color: blue;
    margin-top: 50px;
    margin-left: 50px;
    font-size: 24px;
    height: 400px;
    width: 600px;
    
}
.calculator{
    border: 2px solid blue;
    background-color: gray;
    border-left: 2px solid green;
    border-top: 2px solid yellow;
    height: 400px;
    width:300px;
    margin: 0 700px;
    padding: 0px 0px;
    margin: -52px 600px;
    

}
.cal{
    border:1px solid black;
    border-radius: 5px;
    padding-left: 20px;
    margin: 5px;
    font-size:20px;
}
.cal:hover{
    border:1px solid green;
    background-color: rgb(76, 192, 31);
    opacity: 0.5;

}
.sym{
    border:1px solid brown;
    border-radius: 10px;
    height: 5px;
    width: 3px;
    padding:23px;
    margin:5px;
    font-size:24px;
    
}
.sym:hover{
    border:1px solid green;
    background-color: rgb(160, 100, 43);
    opacity: 0.5;
}
.row-input{
    border: none;

}
.input {
    border:2px solid black;
    background-color: rgb(224, 215, 215);  
    height:30px;

}

.input:hover{
    background-color: rgba(206, 210, 214, 0.651);
    opacity: 0.5;
}
.list{
    
        width: 35px;
        height: 5px;
        background-color: black;
        margin: 6px 0;
}