*{
    margin: 0px;
    padding: 0px;
}


/* heading section */

.header-first{
    margin-bottom: 59px;
    margin-top: 47px;

}
.h-head{
    font-size: 2.8rem;
    padding: 12px;
}

h5{
    text-align: center;
    font-size: 2rem;
    margin: 16px;
}



.header-second{
    margin: 40px;

}

h4{
    /* color: #81ecec; */
    color: black;
    /* color: greenyellow; */
    text-align: center;
    
}

.small-font{
    /* color: #101011; */
    color: black;
    text-align: center;
    font-size: 1.5rem;
}




.container{ 
         display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        background-color: rgb(0, 183, 255);
        box-sizing: border-box;
        
}

body{
    background-color: rgb(0, 183, 255);

}

.card{
    height: 400px;
    width: 20%;
    background-color: rgb(203, 73, 73);
    /* border: 2px solid black; */
    border-radius: 15px;
    margin-left: 36px;
    margin-top: 0px;
    box-sizing: border-box;
    text-align: center;
}

.card:hover{
    margin-top: 20px;
}

h3{
    
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 30px;
}

.icon{
    /* margin-left: 10px; */
    margin-top: 10px;
    margin-bottom: 10%;
}

.img{
    
    width: 100%;
    height: 30vh;
    margin: 0px;

}

.name{
    justify-content: center;
    text-align: center;
    margin: 10px;
    margin-top: 6px;
}

.name h2{
    font-size: 23px;
}

.p-font{
    margin-top: 10px;
}


.p-font p{
    font-size: 20px;
    margin-top: 2px;
    margin: 4px;
}



/* button{
     display: flex;
    justify-content: center; 
    width: 200px;
    height: 40px;
    background-image: linear-gradient(to right, white purple);
     text-align: center;
    align-items: center;}  */

    .social-icons .fa-brands{
        width: 14px;
        height: 40px;
        /* text-align: center; */
        line-height: 49px;
        font-size: 20px;
        color: rgb(0, 0, 0);
        background: rgb(255, 255, 255);
        margin-right: 15px;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        text-align: center;
    
    }



       /* This for wrap features */

@media only screen and(max-width:740px) {
    .card .name .price{
        position: relative;
        right: 10px;
    }
}
/* This is for marquee style */
h4{
    color: rgb(230, 144, 200);
    padding-top: 50px;
    font-size: 40px;
}
        


.card{
    height: 490px;
    width: 20%;
    background-color: white;
    border: 2px solid black;
    border-radius: 15px;
    margin-left: 36px;
    margin-top: 0px;
    box-sizing: border-box;
    text-align: center;
}

