
.head{
    border:2px cornflowerblue;
    height:140px;
    background-image: url("Math/pxfuel\ \(17\).jpg");
    background-size: 300px;
    margin-bottom: 10px;
    


}
.H{
    
    padding-top: 25px;
}


.parent{
    border: 2px solid black;
    display: flex;
    flex-direction: right;

}
.child-1{
    border:2px solid black;
    height: auto;
    width:300px;
    background-image: url("Math/pxfuel\ \(17\).jpg");
    background-size:300px;
}
.content{
    border:none;
    background-color: rgba(58, 51, 51, 0.822);
    height: 40px;
}
.button {
    background-color: #4CAF50;
    border: 1px solid black;
    width: 200px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button:hover{
    border:1px solid green;
    background-color: rgb(46, 71, 151);
    opacity: 0.9;

}
.active{
    background-color: rgba(183, 197, 183, 0.822);
    border: 1px solid black;
    width: 200px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    text-decoration: none;

    font-size: 16px;
    margin: 4px 2px;
  }



.child-2{  
    background-color: #f7ebeb;
    border: none;
    height: auto;
    width: 1020px;

}



.htext{
    border:none;
    background-color: blue;
    width:auto;
    height: 40px;

}
.box{
    border:none;
    background-color: rgb(199, 199, 206);
    width:auto;
    height: auto;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
}
h3{
    border: 1px solid white;
    background-color: gray;
    height: 70px;
    width: 700px;
}

.topnav {
    overflow: hidden;
    float: right;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
 